

/* container */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* alert message */
.alert {
    padding: 10px;
    border: 1px solid #4CAF50;
    background-color: #E8F6E8;
    color: #4CAF50;
    margin-bottom: 20px;
    border-radius: 10px;
}
.alert-error{
    padding: 10px;
    border: 1px solid #D80032;
    background-color: #FFD0D0;
    color: #D80032;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* table */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}



/* buttons */
.button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 15px;
}

.button-blue {
    background-color: #007BFF;
    color: #fff;
}

.button-cyan {
    background-color: #17A2B8;
    color: #fff;
}

.button-dashboard {
    background-color: #3D84B8;
}

.button-red {
    background-color: #DC3545 !important;
    color: #fff;
}

.button-green {
    background-color: #28A745 !important;
    color: #fff;
    cursor: pointer;
}

/* center the text */
.center-text {
    text-align: center;
}

/* margin */
.margin-y {
    margin-top: 30px;
}

/* Responsive table styles for smaller screens */
@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px 10px;
    }

    .btn {
        padding: 6px 12px;
    }
}

.text-input{
    border-radius: 10px !important;
    width: 100%;
    margin-bottom: 20px;
    color: black;

}
.label-weight{
    font-weight: 600;
}

/* accept and decline booking-details  */
.decline-icon{
    color: #D80032;
}
.accept-icon{
    color: green;
}

.datepicker{
    width: 100%;
    border-radius: 10px !important;
    margin-bottom: 20px;
    color: black;
}

/* available books */
.books-checkbox{
    margin-right: 10px;
}